

.container{
    display: flex;
    flex-direction: row;
    background-color: #793434;
    justify-content: center
}


.logo{
    width: 7em;
    height: 6em;

}

.list{
    display: flex;
    
    
}

.lixkito{


}

.nav_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}

.navBar{
    display: flex;
    flex-direction: row;

}